*{
    margin:0;padding:0;
}
.studentLoginDiv{
    background-color: #F5F8FA;
    padding: 100px;

}

.studentFormDiv{
    width: 800px;
    background-color: #F5F8FA;
    margin: auto;
}
.upRefresh{
    display: flex;
    justify-content:space-between;
}
.refreshButton button{
    background-color: rgb(191,83,41);
    color:white;
    padding: 5px;
    border-radius: 3px;
    border:none;
}
.upRefresh h5{
    margin: 0px;
    padding: 0px;
}

.studentFormDiv form{
    text-align: center;
}
.imgStyle{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.imgStyle img{
    width: 160px;
}
.studentFormExtra{
    background-color: #FFFFFF;
    padding:30px;
    border:2px solid rgb(236, 218, 218);
    border-radius: 7px;
    margin: auto;
    
}
.studentFormInput{
    width: 80%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(62,127,184);
    padding: 70px;
    color: white;
    border-radius: 6px;
    box-shadow: 1px 1px 6px 0px rgb(19 17 17);
    border:1px solid white;
}

.studentFormDiv p{
    color:#f2f5f8;

}
.studentFormDiv h3{
    color:white;
    font-size: 29px;
    text-align: center;
    margin-top: 35px;
   
}
.studentFormDiv input{
    width: 100%;
    padding: 8px;
    border-radius: 7px;
    border:1px solid gainsboro;
    font-size: 14px;
    opacity: .9;
}

.loginController{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.loginController input{
    background-color: #2579A9;
    width: 120px;
    height: 40px;
    color:white;
    border:1 px solid white;
    border-radius:7px;
    
}

.loginController p{
    color:#e2e3e4;
    font-weight: 500;
}

.googleButton{
    margin-top: 20px;
    width: 150px;
    background-color: white;
    color:black;
    font-weight: 700;
    height: 40px;
    border:none;
    border-radius:6px;
    box-shadow: -1px 1px 20px -5px #aca5a5;

}
.googleButton:hover{
    box-shadow: 1px 12px 30px 1px #aca5a5
}
.guide{
   text-align: center;
}
.studentGuide{
    background-color: #2AB27B;
   color:white;
   padding:12px;
   font-weight: 600;
   border:none;
   border-radius: 6px;
   font-size: 21px;
}

.info{
    margin-top: 60px;
    text-align: center;
}
.info h3{
    font-size: 22px;
    color:#00008B;
}
.adminEmail{
    color:rgb(0,128,0);
    font-weight: 700;
}

.developer{
    text-align: center;
    margin-top: 50px;
}
.developer p{
    opacity: .6;
}
/*----------------------------- Responsive Part -----------------------------*/
@media only screen and (max-width:850px) {
    .studentLoginDiv{
        background-color: #F5F8FA;
        padding: 30px;
    
    }
    
    .studentFormDiv{
        width: 100%;
        background-color: #F5F8FA;
        /* margin: auto; */
    }
    .studentFormInput{
        width: 100%;
    }
    .studentFormInput{
        width: 90%;
        margin: auto;
        font-family: 'Poppins', sans-serif;
        padding: 20px;
    }
    .imgStyle{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        margin-bottom: 25px;
    }
    .imgStyle img{
        width: 100px;
    }
    .loginController input{
        width: 95%;
        height: 35px;
    }
    .loginController a{
        text-decoration: none;
        font-size: 12px;
       
        }

       
       
}