.recentSection{
    background-color: #EEEEEE;
    margin-top: 140px;
}
.primaryRecentDiv{
   display: grid;
   grid-template-columns: 1fr 510px;
   grid-gap:30px;
   padding:30px;
}
.cardInfo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 14px;
}
.date{
    text-align: center;
}