.headerDesign{
    background-color: #002147;
    text-align: right;
    padding: 20px;
    
    
}
.user{
    color:white;
    font-size: 17px;
    font-weight: 700;
    margin-right: 20px;
}
.headerDesign button{
    height: 40px;
    cursor: pointer;
    width: 170px;
    font-weight: 600;
    background-color: rgb(255,182,6);
    border-radius: 7px;
    margin-right: 20px;
    transition:transform 0.5s ;
}
.headerDesign button:hover{
    transform: scale(1.2);
}

/*--------------------------------------- Responsive Section ----------------------*/
@media only screen  and (max-width:850px) {
    .headerDesign{
        display: none;
    }
}